.card_container {
    padding: 25px 0;
    margin: 10px 60px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 25px;
}

.card_block {
    width: 350px;
    height: 350px;
    margin: 20px 10px;
    transition: 0.3s;
}

.card_block:hover {
    transform: scale(1.03);
}

.card {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.card_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card_para {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    width: 50%;
    font-size: 1rem;
    font-weight: 500;
}

                /* MediaQ 1280px */

@media (max-width: 1280px) {
    .card_container {
        padding: 15px 10px;
    }

    .card_block {
        width: 290px;
        height: 290px;
    }

    .card_para {
        font-size: 0.9rem;
    }
}

                /* MediaQ 1092px */
@media (max-width: 1092px) {
    .card_container {
        padding: 15px 10px;
    }

    .card_block {
        width: 250px;
        height: 250px;
    }

    .card_para {
        font-size: 0.9rem;
    }
}


                /* MediaQ 992px */
@media (max-width: 992px) {
    .card_container {
        padding: 10px 0;
        margin: 30px;
        border-radius: 22px;
    }

    .card_container > * {
        width: 45%;
        display: flex;
        justify-content: space-around;
    }

    .card_block {
        width: 100%;
        height: 300px;
        border-radius: 22px;
    }

    .card_para {
        font-size: 0.8rem;
    }
}

/* MediaQ 576px */
@media (max-width: 576px) {
    .card_container {
        padding: 0;
        margin: 15px;
        background-color: white;
        justify-content: flex-start;
    }

    .card_container > * {
        width: 100%;
    }

    .card_block {
        width: 100%;
        height: 240px;
        margin: 10px 0;
        border-radius: 10px;
    }

    .card_block:hover {
        transform: scale(1.01);
    }

    .card_para {
        font-size: 0.6rem;
    }
}


                    /* mediaQ 768px */
@media (max-width: 768px) {
    .card_container {
        margin: 20px;
        background-color: white;
    }

    .card_container > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card_block {
        width: 100%;
        height: 240px;
        border-radius: 18px;
        margin: 12px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card_block:hover {
        transform: scale(1.02);
    }

    .card_para {
        font-size: 0.8rem;
    }
}


