.collapse_box .collapse_container {
    width: 80%;
    margin-bottom: 25px;
    font-size: 1.3rem;
}

.collapse_box {
    margin: 0 60px 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 370px;
}


.button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.collapse_content {
    background-color: #F6F6F6;
    color: #FF6060;
    padding: 20px 10px 10px;
    border-radius: 0 0 10px 5px;
}


.collapse_box-lodging {
    margin: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.collapse_container {
    width: 48%;
    margin-bottom: 25px;
    font-size: 1.3rem;
}

.button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.collapse_content {
    background-color: #F6F6F6;;
    color: #FF6060;
    padding: 20px 10px 10px;
    border-radius: 0 0 10px 5px;
    line-height: 25px;
}

.lodging_equipement{
    margin-top: 5px;
    list-style-type: none;
}




            /* MediaQ 992px */
@media (max-width: 992px) {
    .collapse_box {
        margin: 30px;
    }

    .collapse_container {
        width: 100%;
        font-size: 1.2rem;
    }

    .collapse_box-lodging {
        margin: 30px;
        flex-direction: column;
    }

    .collapse_container {
        width: 100%;
        font-size: 1.2rem;
    }
}


                /* MediaQ 768px */
@media (max-width: 768px) {
    .collapse_box {
        margin: 30px 20px;
    }

    .collapse_box-lodging {
        margin: 10px 20px;
    }
}

                /* MediaQ 576px */
@media (max-width: 576px) {
    .collapse_box {
        margin: 30px 15px;
    }

    .collapse_container {
        font-size: 1.1rem;
    }

    .collapse_box-lodging {
        margin: 10px 15px;
    }

    .collapse_container {
        font-size: 1.1rem;
    }
}
